<!-- ./End breadcrumb -->
<div class="row">
    <div class="col s12">
      <div *ngIf="orders">
        <button class="btn grey waves-effect waves-light" (click)="goBack()">Back</button>
         <div class="row">
             <div class="col s6">
                  <h6>Customer Info</h6>
                  <label>
                      Customer Name:
                      {{ orders.user.first_name }}
                      {{ orders.user.last_name }}
                  </label>  <br>
                 <label>
                     Customer Email:
                     {{ orders.user.email }}
                 </label>
             </div>
              <div class="input-field col s12 center">
                  <p class="center login-form-text">{{orders.id}}</p>
              </div>
          </div>




        <!--<div>-->
            <!--<label>name: </label>-->
            <!--<input [(ngModel)]="orders.id" placeholder="id" />-->
        <!--</div>-->

      </div>
    </div>
</div>

