<aside id="left-sidebar-nav" class="nav-expanded nav-lock nav-collapsible">
    <div class="brand-sidebar">
      <h1 class="logo-wrapper">
        <a href="#" class="brand-logo darken-1">
          <!--<img src="#" alt="ADMIN"/>-->
          <span class="logo-text hide-on-med-and-down">ADMIN</span>
        </a>
        <a href="#" class="navbar-toggler" onclick="">
          <i class="material-icons">radio_button_checked</i>
        </a>
      </h1>
    </div>
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
      <li class="side-user-info">
        <a [routerLink]="['/profile']">
          <img src="/assets/admin-assets/img/default_user.png"
               class="side-user-img responsive" />
          <span class="side-user-name">{{ currentUser.user.full_name }}</span>
        </a>
      </li>
      <li class="no-padding">
        <ul class="collapsible" data-collapsible="accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect waves-cyan">
              <i class="material-icons">dashboard</i>
              <span class="nav-text">Dashboard</span>
            </a>
            <div class="collapsible-body">
              <ul>
                <li class="active">
                  <a [routerLink]="['/']">
                    <i class="material-icons">keyboard_arrow_right</i>
                      <span>Orders</span>
                    </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="bold">
            <a class="collapsible-header  waves-effect waves-cyan">
              <i class="material-icons">view_comfy</i>
              <span class="nav-text">Orders</span>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a [routerLink]="['/order/pending']">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span>Pending</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/order/in-progress']">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span>In progress</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/order/delivered']">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span>Delivered</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/order/all']">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span>All</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="bold">
            <a class="collapsible-header  waves-effect waves-cyan">
              <i class="material-icons">view_comfy</i>
              <span class="nav-text">Products</span>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a [routerLink]="['/product/list']">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span>List</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/product/report']">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span>Report</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="bold">
            <a class="collapsible-header  waves-effect waves-cyan">
              <i class="material-icons">account_box</i>
              <span class="nav-text">User</span>
            </a>
            <div class="collapsible-body">
              <ul>
                <li>
                  <a [routerLink]="['/user/list']">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span>User List</span>
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/user/role']">
                    <i class="material-icons">keyboard_arrow_right</i>
                    <span>User Roles</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li class="li-hover">
        <p class="ultra-small margin more-text">MORE</p>
      </li>
      <li>
        <a [routerLink]="['/profile']">
          <i class="material-icons">account_circle</i>
          <span class="nav-text">Profile</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/settings']">
          <i class="material-icons">settings</i>
          <span class="nav-text">Settings</span>
        </a>
      </li>
    </ul>
    <a href="#" data-target="slide-out" onclick="" class="sidenav-trigger sidebar-collapse btn-floating btn-medium hide-on-large-only gradient-45deg-light-blue-cyan gradient-shadow"><i class="material-icons">menu</i></a>
</aside>
